<div class="container">
    <h2 class="text-center">Créer nouvelle histoire</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group col-5 col-sm-12">
            <label for="title" class="control-label">Titre</label>
            <input type="text" formControlName="title" id="title" required placeholder="Exemple : La belle au bois dormant" required
                [(ngModel)]="story.title" name="title">
        </div>

        <!--<div class="form-group col-5 col-sm-12">
            <label for="name" class="control-label">Créateur</label>
            <select formControlName="userControl">
                <option [ngValue]="user" *ngFor="let user of users"> {{user.nickname}}</option>
            </select>
        </div>-->

        <div class="form-group col-5 col-sm-12">
            <label for="name" class="control-label">Place</label>
            <select formControlName="place" ([ngModel])="story.place" name="place">
                <option *ngFor="let place of places" [ngValue]="place.id"> [Longitude : {{place.longitude}} - Latitude : {{place.latitude}}]</option>
            </select>
        </div>

        <div class="form-group col-5 col-sm-12">
            <label for="name" class="control-label">Période historique</label>
            <select formControlName="timelapse" ([ngModel])="story.timelapse" name="timelapse">
                <option *ngFor="let timelapse of timelapses" [ngValue]="timelapse.id"> {{timelapse.period}}</option>
            </select>
        </div>

        <div class="form-group col-5 col-sm-12">
            <label for="name" class="control-label">Type de patrimoine</label>
            <select formControlName="type" ([ngModel])="story.type" name="type">
                <option *ngFor="let type of types" [ngValue]="type.id"> {{type.name}}</option>
            </select>
        </div>

        <div class="col-5 col-sm-12">
            <button type="submit" class="btn btn-primary">Créer</button>
        </div>
    </form>

    <div *ngIf="submitted">
        <div *ngIf="storyCreated">
            <div class="alert alert-success">Ajout effectué avec succés</div>
        </div>
        <div *ngIf="!storyCreated">
            <div class="alert alert-danger">Erreur d'ajout</div>
        </div>
    </div>
</div>