<mat-toolbar color="primary">
  <div>
    <button
      *ngIf="isInDemo$ | async"
      class="menu-button"
      mat-button
      (click)="toggleSidenav()"
    >
      <!-- <mat-icon>menu</mat-icon> -->
      Create a Story
    </button>
    <a mat-button routerLink="/">
      Home
    </a>
    <a mat-button routerLink="/demo">
      Map
    </a>
    
  </div>
  <div>
    <a mat-button *ngIf="!isAutenthicated" routerLink = "/login" >Login</a>
    <div *ngIf="isAutenthicated">
        Bienvenue {{currentUser.email}} - <a routerLink ="/logout"> Logout</a>
        <a mat-button *ngIf = "currentUser.profile == 'user'" routerLink="/account/user">Mon compte</a>
        <a mat-button *ngIf = "currentUser.profile != 'user'" routerLink="/account/admin">Mon compte</a>
    </div>  
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
