<div class="container text-center">
    <h2>Liste des histoires</h2>
    <div class="text-center">
      <table table mat-table class="text-center">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Créateur</th>
            <th>Type</th>
            <th>Période</th>
          <th *ngIf="isAdmin" colspan="3">Actions</th>
          <th *ngIf="!isAdmin">Afficher</th>
        </tr>
        <tr *ngFor="let story of stories | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
            <td>{{story.id}}</td>
            <td>{{story.title}}</td>
            <td>{{story.description}}</td>
            <td>{{story.creator.nickname}}</td>
            <td>{{story.type.name}}</td>
            <td>{{story.timelapse.period}}</td>
          <td>
            <a mat-button color="primary" routerLink="infos/{{story.id}}">
              <mat-icon>chat_bubble_outline</mat-icon>
            </a>
          </td>
          <td *ngIf="isAdmin">
            <a mat-button routerLink="update/{{story.id}}">
              <mat-icon>chat</mat-icon>
            </a>
          </td>
          <td *ngIf="isAdmin">
            <button mat-button color="warn" (click)="deleteStory(story.id, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <br/>
      <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>