<div class="container text-center">
  <h2>Détails de la période historique</h2>
  <div class="text-center">
    <table table mat-table class="text-left">
      <tr> 
        <th *ngIf="isAdmin">Id :</th>
        <td *ngIf="isAdmin">{{timelapse.id}}</td>
        <td *ngIf="isAdmin" rowspan=6 class="text-center"><a mat-button color="primary" routerLink="../../update/{{timelapse.id}}"><mat-icon>edit</mat-icon></a></td>
        <td *ngIf="isAdmin" rowspan=6 class="text-center"><img src="./../../../assets/{{timelapse.logo}}"> </td>
      </tr>
      <tr>
        <th>Période historique :</th>
        <td>{{timelapse.period}}</td>
        <td *ngIf="!isAdmin" rowspan=5 class="text-center"><img src="./../../../assets/{{timelapse.logo}}"></td> 
      </tr>
      <tr>
        <th>Date de début :</th>
        <td>{{timelapse.startingYear}}</td>
      </tr>
      <tr>
        <th>Date de fin :</th>
        <td>{{timelapse.endingYear}}</td>
      </tr>
      <tr>
        <th>Commentaires :</th>
        <td>{{timelapse.comments}}</td>
      </tr>
      <tr>
        <th>Couleur :</th>
        <td>{{timelapse.color}}</td>
      </tr>
    </table>
  </div>
  <div class="text-center">
      <h2>Liste des stories liées à cette période historique</h2>
      <table mat-table>
        <th>Id</th>
        <th>Titre</th>
        <th>Description</th>
        <th colspan="2">Créateur</th>
        <th>Type</th>
        <th>Afficher</th>
        <tr *ngFor="let story of stories | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{story.id}}</td>
          <td>{{story.title}}</td>
          <td>{{story.description}}</td>
          <td>{{story.creator.nickname}}</td>
          <td><a mat-button color="primary" routerLink="../../../users/infos/public/{{story.id}}"><mat-icon>account_circle</mat-icon></a></td>
          <td>{{story.type.name}}</td>
          <td><a mat-button color="primary" routerLink="../../../stories/infos/{{story.id}}"><mat-icon>chat_bubble_outline</mat-icon></a></td>
        </tr>
      </table>
      <br/>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>