<h2>Que souhaitez-vous faire ? </h2>
<!-- [queryParams] = "{page: 0,size: 10,sortProperty: 'email',sortDirection:'ASC'}"-->
<div class="row">
  <div class="col col-2">
    <a class="btn btn-light" routerLink="users">Liste des utilisateurs</a>
  </div>
  <div class="col col-2">
      <a class="btn btn-light" routerLink="users/add">Ajouter un utilisateur</a>
  </div>
</div>
<div class="row">
  <div class="col col-2">
      <a class="btn btn-light" routerLink="stories/add">Créer une histoire</a>
  </div>
  <div class="col col-2">
      <a class="btn btn-light" routerLink="stories">Listes des histoires</a>
  </div>
</div>
<div class="row">
  <div class="col col-2">
      <a class="btn btn-light" routerLink="infos">Mes infos</a>
  </div>
  <div class="col col-2">
      <a class="btn btn-light" routerLink="update">Modifier mon compte</a>
  </div>
</div>

<router-outlet></router-outlet>