<div>
    <h2>Que souhaitez-vous faire ? </h2>
    <!-- [queryParams] = "{page: 0,size: 10,sortProperty: 'email',sortDirection:'ASC'}"-->
    <mat-card>
        <a mat-raised-button routerLink="users">Liste des utilisateurs</a>
        <a mat-raised-button routerLink="users/add">Ajouter un utilisateur</a>
        <a mat-raised-button routerLink="stories/add">Créer une histoire</a>
        <a mat-raised-button routerLink="stories">Listes des histoires</a>
        <a mat-raised-button routerLink="infos">Mes infos</a>
        <a mat-raised-button routerLink="update">Modifier mon compte</a>
    </mat-card>
</div>
<router-outlet></router-outlet>